nav {
    background-color: #62e42f;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

#banner {
    background: linear-gradient(to right, #62e42f, #0d7509);
    text-align: center;
    padding: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner img {
    max-width: 100%;
    
    margin-right: 10px;
}